@tailwind base;
@tailwind components;
@tailwind utilities;



/* 스크롤바 기본 스타일 */
::-webkit-scrollbar {
    width: 8px; /* 스크롤바의 너비 */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* 스크롤바 트랙의 배경 색상 */
    border-radius: 8px; /* 스크롤바 트랙의 모서리 둥글게 */
}

::-webkit-scrollbar-thumb {
    background: #888; /* 스크롤바의 색상 */
    border-radius: 8px; /* 스크롤바의 모서리 둥글게 */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* 스크롤바를 호버할 때 색상 */
}